<!--design and shere by mellatweb.com --> <!--design and shere by mellatweb.com --> <!DOCTYPE html>
<html dir="rtl" lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description"
          content="Helio - bright and clean coming soon and landing page template to kick-start your project">
    <meta name="keywords"
          content="helio, coming soon, under construction, template, coming soon page, html5, css3, fashion, elegant">
    <meta name="author" content="mix_design">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/static/img/favicon/favicon.ico" sizes="any">
    <link rel="icon" href="/static/img/favicon/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/static/img/favicon/apple-touch-icon.png">
    <link rel="manifest" href="/static/img/favicon/manifest.webmanifest">
    <meta property="og:image:height" content="1200">
    <meta property="og:image:width" content="1200">
    <meta property="og:title" content="Helio - Coming Soon and Landing Page Template">
    <meta property="og:description"
          content="Helio - bright and clean coming soon and landing page template to kick-start your project">
    <meta property="og:url" content="index.html">
    <meta property="og:image" content="favicon/og-image.html">
    <link rel="stylesheet" href="/static/css/loaders/loader.css">
    <link rel="stylesheet" type="text/css" href="/static/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <meta name="theme-color" content="#4d26b3">
    <meta name="msapplication-navbutton-color" content="#4d26b3">
    <meta name="apple-mobile-web-app-status-bar-style" content="#4d26b3">
</head>
<body>
<div class="loader">
    <div class="loader">
        <div class="loader__content">
            <div class="loader__logo"><img src="/static/img/loader.svg"
                                           alt="Helio - Coming Soon and Landing Page Template">
            </div>
        </div>
    </div>
</div>
<div class="top-controls d-flex">
    <button id="color-switcher" class="btn btn-round btn-outline hover-anim hover-secondary color-switcher"
            type="button" role="switch" aria-label="light/dark mode" aria-checked="true"></button>
</div>
{% block content %}

{% endblock %}
<section id="about" class="inner about">
    <div class="inner__controls d-flex"><a id="about-close"
                                           class="btn btn-default btn-outline hover-anim hover-secondary"
                                           href="#0"><em></em><i class="ph ph-arrow-left"></i><span class="btn-caption">برگرد</span></a>
    </div>
    <div class="inner__content fullheight">
        <div class="container-fluid p-0 fullheight">
            <div class="row g-0 flex-xl-row-reverse fullheight">
                <div class="col-12 col-xl-6 inner__info">
                    <div class="inner__blocks">
                        <div class="inner__container">
                            <div class="content-block">
                                <span class="section__subtitle"><h3>😎 درباره من</h3></span>
                                <h4>من عباس قلی پور <span class="colored">  یک برنامه نویس بک اند هستم </span><br>بیاید
                                    بیشتر با من
                                    آشنا بشید</h4>
                                <p class="section__text">
                                    من کار خودم رو با زبان پایتون شروع کردم و به ساخت سایت علاقه داشتم پس در ادامه کار
                                    به
                                    یادگیری فریمورک جنگو و استفاده از اون برای ساخت ایده هام بهره گرفتم.
                                    برای سرعت بخشیدن به صفحات وب سایت های خودم تا حد امکان سعی کردم که از کد های کوتاه و
                                    تمیز
                                    استفاده کنم ولی باید برای تسریع بخشیدن به این کار تکنولوژی دیگری هم یاد میگرفتم.
                                    اسم این تکنولوژی RestApi بود و اتصال بین برنامه من و فرانت اند صفحات رو برقرار میکرد
                                </p>
                            </div>
                        </div>
                        {#                        <div class="inner__container">#}
                        {#                            <div class="content-block">#}
                        {#                                <div class="container-fluid p-0">#}
                        {#                                    <div class="row g-2 align-items-stretch">#}
                        {#                                        <div class="col-12 col-md-6 feature">#}
                        {#                                            <div class="feature__item card">#}
                        {#                                                <div class="feature__descr">#}
                        {#                                                    <h4 class="feature__title">Frontend<br>توسعه</h4>#}
                        {#                                                    <p class="small feature__text">آیا من دیوانه شده ام؟ من می ترسم#}
                        {#                                                        اینطور باشد، اما بگذارید چیزی به شما بگویم، معمولاً بهترین افراد#}
                        {#                                                        هستند.</p>#}
                        {#                                                </div>#}
                        {#                                                <div class="feature__image"><img#}
                        {#                                                        src="/static/img/features/1200x900_f01.webp"#}
                        {#                                                        alt="Helio Feature Image"></div>#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                        <div class="col-12 col-md-6 feature">#}
                        {#                                            <div class="feature__item card">#}
                        {#                                                <div class="feature__descr">#}
                        {#                                                    <h4 class="feature__title">نام تجاری<br>هویت</h4>#}
                        {#                                                    <p class="small feature__text">آیا من دیوانه شده ام؟ من می ترسم#}
                        {#                                                        اینطور باشد، اما بگذارید چیزی به شما بگویم، معمولاً بهترین افراد#}
                        {#                                                        هستند.</p>#}
                        {#                                                </div>#}
                        {#                                                <div class="feature__image"><img#}
                        {#                                                        src="/static/img/features/1200x900_f02.webp"#}
                        {#                                                        alt="Helio Feature Image"></div>#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                        <div class="col-12 col-md-6 feature">#}
                        {#                                            <div class="feature__item card">#}
                        {#                                                <div class="feature__descr">#}
                        {#                                                    <h4 class="feature__title">دیجیتال<br>هنر</h4>#}
                        {#                                                    <p class="small feature__text">آیا من دیوانه شده ام؟ من می ترسم#}
                        {#                                                        اینطور باشد، اما بگذارید چیزی به شما بگویم، معمولاً بهترین افراد#}
                        {#                                                        هستند.</p>#}
                        {#                                                </div>#}
                        {#                                                <div class="feature__image"><img#}
                        {#                                                        src="/static/img/features/1200x900_f03.webp"#}
                        {#                                                        alt="Helio Feature Image"></div>#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                        <div class="col-12 col-md-6 feature">#}
                        {#                                            <div class="feature__item card">#}
                        {#                                                <div class="feature__descr">#}
                        {#                                                    <h4 class="feature__title">بازار یابی<br>راه حل ها</h4>#}
                        {#                                                    <p class="small feature__text">آیا من دیوانه شده ام؟ من می ترسم#}
                        {#                                                        اینطور باشد، اما بگذارید چیزی به شما بگویم، معمولاً بهترین افراد#}
                        {#                                                        هستند.</p>#}
                        {#                                                </div>#}
                        {#                                                <div class="feature__image"><img#}
                        {#                                                        src="/static/img/features/1200x900_f04.webp"#}
                        {#                                                        alt="Helio Feature Image"></div>#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        <div class="inner__container">
                            <div class="content-block">
                                <div class="show-skillbar">
                                    <div class="skillbar" data-percent="70">
                                        <span class="skillbar-title tools">پایتون</span>
                                        <p class="skillbar-bar"></p>
                                        <span class="skill-bar-percent tools"></span>
                                    </div>
                                </div>
                                <div class="show-skillbar">
                                    <div class="skillbar" data-percent="65">
                                        <span class="skillbar-title">جنگو</span>
                                        <p class="skillbar-bar"></p>
                                        <span class="skill-bar-percent"></span>
                                    </div>
                                </div>
                                <div class="show-skillbar">
                                    <div class="skillbar" data-percent="43">
                                        <span class="skillbar-title">RestApi</span>
                                        <p class="skillbar-bar"></p>
                                        <span class="skill-bar-percent"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {#                        <div class="inner__container">#}
                        {#                            <div class="content-block">#}
                        {#                                <div class="fullwidth-container">#}
                        {#                                    <div class="showreel showreel-image-1">#}
                        {#                                        <div class="showreel__button"><a id="inner-video-trigger"#}
                        {#                                                                         class="btn btn-round-onesize btn-filled hover-anim hover-anim-onesize hover-accent"#}
                        {#                                                                         href="https://vimeo.com/65036292"><em></em><i#}
                        {#                                                class="ph ph-play"></i></a></div>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                    </div>
                </div>
                <div class="col-12 col-xl-6 inner__media">
                    <div class="innermedia__content">
                        <div class="innermedia__image inner-image-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="inner contact">
    <div class="inner__controls d-flex"><a id="contact-close"
                                           class="btn btn-default btn-outline hover-anim hover-secondary"
                                           href="#0"><em></em><i class="ph ph-arrow-left"></i><span class="btn-caption">برگرد</span></a>
    </div>
    <div class="inner__content fullheight">
        <div class="container-fluid p-0 fullheight">
            <div class="row g-0 flex-xl-row-reverse fullheight">
                <div class="col-12 col-xl-6 inner__info">
                    <div class="inner__blocks">
                        <div class="inner__container">
                            <div class="content-block">
                                <div class="container-fluid p-0">
                                    <div class="row gx-2 align-items-stretch">
                                        <div class="col-12 col-md-6 contactdata">
                                            <h6 class="contactdata__title">محل</h6>
                                            <div class="contactdata__descr"><p class="small"><a class="contact-link"
                                                                                                href="https://maps.app.goo.gl/rx3hsu8AzYkjNjwM8"
                                                                                                target="_blank">لرستان
                                                <br>خرم آباد</a></p></div>
                                        </div>
                                        <div class="col-12 col-md-6 contactdata">
                                            <h6 class="contactdata__title">بیا دنبالم</h6>
                                            <div class="contactdata__descr">
                                                <ul class="contactdata__socials">
                                                    <li>
                                                        <i class="ph ph-dribbble-logo"></i><a class="contact-link"
                                                                                              href="https://t.me/abasghlipour"
                                                                                              target="_blank">تلگرام</a>
                                                    </li>
                                                    <li>
                                                        <i class="ph ph-instagram-logo"></i><a class="contact-link"
                                                                                               href="https://www.instagram.com/abasghlipour?igsh=MmVlMjlkMTBhMg=="
                                                                                               target="_blank">اینستاگرام</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 contactdata">
                                            <h6 class="contactdata__title">به من زنگ بزن</h6>
                                            <div class="contactdata__descr"><p class="small"><a class="contact-link"
                                                                                                href="tel:+989369401921">0936-940-1921
                                            </a></p></div>
                                        </div>
                                        <div class="col-12 col-md-6 contactdata">
                                            <h6 class="contactdata__title">یک خط بنویس</h6>
                                            <div class="contactdata__descr"><p class="small"><a class="contact-link"
                                                                                                href="mailto:abasghlipour@gmail.com?subject=Message%20from%20your%20site">abasghlipour@gmail.com</a>
                                            </p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {#                        <div class="inner__container">#}
                        {#                            <div class="content-block">#}
                        {#                                <h3>فقط بگو<span class="colored">سلام</span>!</h3>#}
                        {#                                <p class="block__text">می خواهید درباره ما بیشتر بدانید، در مورد پروژه خود به ما بگویید#}
                        {#                                    یا فقط برای گفتن سلام؟ به من خط بزنید تا در اسرع وقت برگردم.</p>#}
                        {#                                <div class="form-container">#}
                        {#                                    <div class="reply-group">#}
                        {#                                        <i class="ph ph-smiley reply-group__icon"></i>#}
                        {#                                        <p class="reply-group__title">انجام شده!</p>#}
                        {#                                        <span class="reply-group__text">به خاطر پیغامتون ممنون. در اسرع وقت برمیگردم</span>#}
                        {#                                    </div>#}
                        {#                                    <form class="form contact-form" id="contact-form">#}
                        {#                                        <input type="hidden" name="project_name"#}
                        {#                                               value="Helio - Coming Soon and Landing Page Template"><input#}
                        {#                                            type="hidden" name="admin_email" value="support@mixdesign.club"><input#}
                        {#                                            type="hidden" name="form_subject" value="Contact Form Message">#}
                        {#                                        <div class="container-fluid p-0">#}
                        {#                                            <div class="row gx-2">#}
                        {#                                                <div class="col-12 col-md-6"><input type="text" name="Name"#}
                        {#                                                                                    placeholder="اسم شما*" required>#}
                        {#                                                </div>#}
                        {#                                                <div class="col-12 col-md-6"><input type="text" name="Company"#}
                        {#                                                                                    placeholder="نام شرکت"></div>#}
                        {#                                                <div class="col-12 col-md-6"><input type="email" name="E-mail"#}
                        {#                                                                                    placeholder="آدرس پست الکترونیکی*"#}
                        {#                                                                                    required></div>#}
                        {#                                                <div class="col-12 col-md-6"><input type="tel" name="Phone"#}
                        {#                                                                                    placeholder="شماره تلفن*" required>#}
                        {#                                                </div>#}
                        {#                                                <div class="col-12"><textarea name="Message" placeholder="چند کلمه*"#}
                        {#                                                                              required></textarea></div>#}
                        {#                                                <div class="col-12">#}
                        {#                                                    <button class="btn btn-default btn-filled hover-anim hover-accent"#}
                        {#                                                            type="submit"><em></em><i#}
                        {#                                                            class="ph ph-paper-plane"></i><span class="btn-caption">ارسال</span>#}
                        {#                                                    </button>#}
                        {#                                                </div>#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                    </form>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
                    </div>
                </div>
                <div class="col-12 col-xl-6 inner__media">
                    <div class="innermedia__content">
                        <div class="innermedia__image inner-image-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{#<div id="notify" class="popup notify">#}
{#    <div class="popup__container">#}
{#        <div class="popup__content block-rounded-s">#}
{#            <a href="#0" id="notify-close" class="popup-close"><i class="ph ph-x"></i></a>#}
{#            <div class="popup-title">#}
{#                <p class="popup-title__title">در جدیدترین ما مشترک شوید<span class="colored">به روز رسانی ها</span></p>#}
{#                <p class="popup-title__text">در خبرنامه ما مشترک شوید و اولین نفری باشید که از پروژه‌ها، ایده‌ها و#}
{#                    کارهای جدید ما مطلع می‌شوید</p>#}
{#            </div>#}
{#            <div class="form-container">#}
{#                <div class="reply-group subscription-ok">#}
{#                    <i class="ph ph-smiley reply-group__icon"></i>#}
{#                    <p class="reply-group__title txt-light">انجام شده!</p>#}
{#                    <span class="reply-group__text">با تشکر برای اشتراک!</span>#}
{#                </div>#}
{#                <div class="reply-group subscription-error">#}
{#                    <i class="ph ph-smiley-nervous reply-group__icon"></i>#}
{#                    <p class="reply-group__title">اوه!</p>#}
{#                    <span class="reply-group__text">مشکلی پیش آمد. لطفاً بعداً دوباره امتحان کنید.</span>#}
{#                </div>#}
{#                <form class="form notify-form form-light">#}
{#                    <input type="email" placeholder="ایمیل شما" required>#}
{#                    <button class="btn btn-default btn-filled hover-anim hover-accent" type="submit"><em></em><i#}
{#                            class="ph ph-paper-plane"></i><span class="btn-caption">ارسال</span></button>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close link-s" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share link-s" title="Share"></button>
                <button class="pswp__button pswp__button--fs link-s" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom link-s" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left link-s" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right link-s" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/libs.min.js"></script>
<script src="/static/js/gallery-init.js"></script>
<script src="/static/js/custom.js"></script>
</body>
</html>
