<!DOCTYPE html>
<html dir="rtl" lang="en">

<head>
    <meta charset="UTF-8">
    <title>عباس قلی پور</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/static/img/favicon/favicon.ico" sizes="any">
    <link rel="icon" href="/static/img/favicon/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/static/img/favicon/apple-touch-icon.png">
    <link rel="manifest" href="/static/img/favicon/manifest.webmanifest">
    <meta property="og:image:height" content="1200">
    <meta property="og:image:width" content="1200">
    <meta property="og:title" content="عباس قلی پور">
    <meta property="og:description"
          content="عباس قلی پور- این سایت رزومه شخصی من است">
    <meta name="keywords" content="abas ghlipour,abasghlipour,abas gholipour, abasgholipur,عباس,عباس قلی پور,عباس قلیپور,">
    <meta property="og:url" content="index.html">
    <meta property="og:image" content="favicon/og-image.html">
    <link rel="stylesheet" href="/static/css/loaders/loader.css">
    <link rel="stylesheet" type="text/css" href="/static/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

</head>
<body>
<div class="loader">
    <div class="loader">
        <div class="loader__content">
            <div class="loader__logo"><img src="/static/img/loader.svg"
                                           alt="Helio - Coming Soon and Landing Page Template">
            </div>
        </div>
    </div>
</div>
<div class="top-controls d-flex">
    <button id="color-switcher" class="btn btn-round btn-outline hover-anim hover-secondary color-switcher"
            type="button" role="switch" aria-label="light/dark mode" aria-checked="true"></button>
</div>
<section id="main" class="main">
    <div class="main__content fullheight">
        <div class="container-fluid p-0 fullheight">
            <div class="row g-0 fullheight">
                <div class="col-12 col-xl-6 main__intro fullheight">
                    <div class="intro__header d-flex justify-content-between">
                        <a id="menu-trigger"
                           class="menu-trigger btn btn-round btn-outline hover-anim hover-secondary"
                           href="#0"><em></em><i class="ph ph-list icon-burger"></i><i
                                class="ph ph-x icon-close"></i></a>
                        <div id="menu" class="header__menu">
                            <nav class="menu__container">
                                <ul class="navigation">
                                    <li><a id="about-trigger"
                                           class="btn btn-default btn-navigation hover-anim hover-secondary"
                                           href="#0"><em></em><span class="btn-caption">درباره من</span></a></li>
                                    <li><a id="contact-trigger"
                                           class="btn btn-default btn-navigation hover-anim hover-secondary"
                                           href="#0"><em></em><span
                                            class="btn-caption">راه ارتباطی</span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="intro__content">
                        <div id="headline" class="headline">
                            <p class="headline__subtitle">👋 Let's meet</p>
                            <h1 class="headline__title"><span class="colored"></span><span
                                    class="colored">{{ user.get_full_name }}</span>
                            </h1>
                        </div>
                    </div>
                    <div class="intro__bottomline d-flex flex-column flex-xl-row justify-content-xl-between">
                        <div class="bottomline__left"><a id="about-trigger-bottom" href="#0"
                                                         class="btn btn-cta"><span
                                class="cta__caption">بیشتر ببین</span><span
                                class="cta__elipce btn-outline hover-anim hover-secondary"><em></em><svg
                                xmlns="http://www.w3.org/2000/svg" width="25px" height="14px" viewbox="0 0 25 14"
                                style="enable-background:new 0 0 25 14;"><path
                                d="M24.8,7.5l-6.3,6.3c-0.3,0.3-0.7,0.3-1,0c-0.3-0.3-0.3-0.7,0-1l0,0l5.1-5.1H0.7C0.3,7.7,0,7.4,0,7c0-0.4,0.3-0.7,0.7-0.7 h21.9l-5.1-5.1c-0.3-0.3-0.3-0.7,0-1s0.7-0.3,1,0l6.3,6.3C25.1,6.8,25.1,7.2,24.8,7.5C24.8,7.5,24.8,7.5,24.8,7.5z"></path></svg></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-6 main__media fullheight">
                    <div class="media__content">
                        <div class="video-background">
                            <video id="main-video" preload="auto" autoplay="autoplay" loop="loop" muted="muted"
                                   poster="/static/img/backgrounds/960x1080_v1.webp">
                                <source type="video/mp4" src="/static/video/video.mp4"></source>
                                <source type="video/webm" src="/static/video/video.html"></source>
                                <source type="video/ogv" src="/static/video/video-2.html"></source>
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about" class="inner about">
    <div class="inner__controls d-flex"><a id="about-close"
                                           class="btn btn-default btn-outline hover-anim hover-secondary"
                                           href="#0"><em></em><i class="ph ph-arrow-left"></i><span class="btn-caption">برگرد</span></a>
    </div>
    <div class="inner__content fullheight">
        <div class="container-fluid p-0 fullheight">
            <div class="row g-0 flex-xl-row-reverse fullheight">
                <div class="col-12 col-xl-6 inner__info">
                    <div class="inner__blocks">
                        <div class="inner__container">
                            <div class="content-block">
                                <span class="section__subtitle"><h3>😎 درباره من</h3></span>
                                <h4>{{ person.short_description }}</h4>
                                <p class="section__text">{{ person.description }}
                                </p>
                            </div>
                        </div>
                        <div class="inner__container">
                            <div class="content-block">
                                {% for skill in skills %}
                                    <div class="show-skillbar">
                                        <div class="skillbar" data-percent="{{ skill.percent }}">
                                            <span class="skillbar-title tools">{{ skill.title }}</span>
                                            <p class="skillbar-bar"></p>
                                            <span class="skill-bar-percent tools"></span>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-6 inner__media">
                    <div class="innermedia__content">
                        <div class="innermedia__image inner-image-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="inner contact">
    <div class="inner__controls d-flex"><a id="contact-close"
                                           class="btn btn-default btn-outline hover-anim hover-secondary"
                                           href="#0"><em></em><i class="ph ph-arrow-left"></i><span class="btn-caption">برگرد</span></a>
    </div>
    <div class="inner__content fullheight">
        <div class="container-fluid p-0 fullheight">
            <div class="row g-0 flex-xl-row-reverse fullheight">
                <div class="col-12 col-xl-6 inner__info">
                    <div class="inner__blocks">
                        <div class="inner__container">
                            <div class="content-block">
                                <div class="container-fluid p-0">
                                    <div class="row gx-2 align-items-stretch">
                                        <div class="col-12 col-md-6 contactdata">
                                            <h6 class="contactdata__title">محل</h6>
                                            <div class="contactdata__descr"><p class="small"><a class="contact-link"
                                                                                                href="{{ contact.map }}"
                                                                                                target="_blank">{{ contact.country }}
                                                <br>{{ contact.state }}
                                                <br>{{ contact.city }}</a></p></div>
                                        </div>
                                        <div class="col-12 col-md-6 contactdata">
                                            <h6 class="contactdata__title">بیا دنبالم</h6>
                                            <div class="contactdata__descr">
                                                <ul class="contactdata__socials">
                                                    <li>
                                                        <i class="ph ph-dribbble-logo"></i><a class="contact-link"
                                                                                              href="{{ contact.telegram }}"
                                                                                              target="_blank">تلگرام</a>
                                                    </li>
                                                    <li>
                                                        <i class="ph ph-instagram-logo"></i><a class="contact-link"
                                                                                               href="{{ contact.instagram }}"
                                                                                               target="_blank">اینستاگرام</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6 contactdata">
                                            <h6 class="contactdata__title">به من زنگ بزن</h6>
                                            <div class="contactdata__descr"><p class="small"><a class="contact-link"
                                                                                                href="tel:{{ contact.phone }}">{{ contact.phone|slice:'0:4' }}-{{ contact.phone|slice:'4:7' }}-{{ contact.phone|slice:'7:11' }}
                                            </a></p></div>
                                        </div>
                                        <div class="col-12 col-md-6 contactdata">
                                            <h6 class="contactdata__title">یک خط بنویس</h6>
                                            <div class="contactdata__descr"><p class="small"><a class="contact-link"
                                                                                                href="mailto:{{ contact.email }}?subject=Message%20from%20your%20site">{{ contact.email }}</a>
                                            </p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-6 inner__media">
                    <div class="innermedia__content">
                        <div class="innermedia__image inner-image-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close link-s" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share link-s" title="Share"></button>
                <button class="pswp__button pswp__button--fs link-s" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom link-s" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left link-s" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right link-s" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/libs.min.js"></script>
<script src="/static/js/gallery-init.js"></script>
<script src="/static/js/custom.js"></script>
</body>
</html>
